<section class="footer">
  <div class="container">
    <div class="top-position">
      <!-- Логотип -->
      <div class="footer-logo">
        <span class="logo-span">Lloyd</span>
        <span class="logo-green-span">Jefferson.</span>
      </div>

      <!-- Соціальні посилання -->

      <ul class="footer-social-links">
        <li>
          <a href="https://www.instagram.com/goitclub/" target="_blank"
            >Instagram</a
          >
        </li>
        <li>
          <a href="https://www.facebook.com/goITclub/" target="_blank"
            >Facebook</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/"
            target="_blank"
            >LinkedIn</a
          >
        </li>
        <li>
          <a href="1ster14ka.github.io/js-avengers/" target="_blank">GitHub</a>
        </li>
      </ul>
    </div>

    <!-- Копірайт -->
    <div class="footer-copyright">
      <span>© Copyright 2024.</span>
      <span>Made by LloydJefferson</span>
    </div>
  </div>
</section>
