<header class="header">
  <div class="container header-container">
    <a href="" class="logo"
      ><span class="logo-header-span">Lloyd</span>Jefferson.</a
    >

    <nav class="navigation">
      <ul class="nav-list-head">
        <li class="nav-item-head">
          <a href="" class="hover-link">About me</a>
        </li>
        <li class="nav-item-head">
          <a href="" class="hover-link">Projects</a>
        </li>
        <li class="nav-item-head">
          <a href="" class="hover-link">Contacts</a>
        </li>
      </ul>
    </nav>
    <button type="button" class="burger-btn">
      <svg class="icon-burger" width="22" height="16">
        <use href="./img/svg-icons/symbol-defs.svg#icon-burger"></use>
      </svg>
    </button>
  </div>
</header>
