<section class="hero">
  <div class="container">
    <div class="hero-content">
      <h1 class="hero-title">
        HELLO, I AM <img src="" alt="hero-Photo" class="hero-image">
        <span class="hero-title-highlight">FULLSTACK DEVELOPER</span>
      </h1>
      <button class="btn-hero" type="button"><span class="btn-hero-title">ORDER THE PROJECT</span></button>
      <p class="hero-subtitle">
        I WORK WITH PEOPLE ALL OVER THE WORLD TO CREATE
        <span class="hero-highlight">IMPRESSIVE</span> AND
        <span class="hero-highlight">FUNCTIONAL WEBSITES</span> THAT REFLECT
        EACH CLIENT'S UNIQUE PERSONALITY.
      </p>
    </div>
    <div class="social-links">
    <ul class="social-list">
        <li class="social-link"><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
        <li class="social-link"><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
        <li class="social-link"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it">LinkedIn</a></li>
        <li class="social-link"><a href="https://1ster14ka.github.io/js-avengers/">GitHub</a></li>
        <div>
  </div>
</section>
