<section class="hero">
  <div class="container">
    <div class="hero-content">
      
      <h1 class="hero-title">
        HELLO, I AM <img src="../img/img.jpg" alt="hero-photo" class="hero-image">
        <span class="hero-title-highlight">FULLSTACK DEVELOPER</span>
      </h1>
<div class="btn-container">
      <button class="btn-hero" type="button"><span class="btn-hero-title"><img class="btn-img" src="../img/Arrow 1.svg" alt="arrow"><a href="#work-together"></a>ORDER THE PROJECT</span></button>
      <p class="hero-subtitle">I work with people all over the world to create <span class="hero-highlight">impressive</span> and <span class="hero-highlight">functiona websites</span> that reflect each client’s unique personality.
      </p>
</div>
    <ul class="social-list">
        <li class="social-link"><a href="https://www.instagram.com/goitclub/">Instagram</a></li>
        <li class="social-link"><a href="https://www.facebook.com/goITclub/">Facebook</a></li>
        <li class="social-link"><a href="https://www.linkedin.com/school/goit-start-your-career-in-it">LinkedIn</a></li>
        <li class="social-link"><a href="https://github.com/1ster14ka/js-avengers">GitHub</a></li>
  </div>
</section>
