<section>
  <div class="container">
    <h2>my <span>projects</span></h2>
    <ul class="project-catalog">
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>power pulse webservice</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>mimino website</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>vyshyvanka vibes Landing Page</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>green harvest online store</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>wallet webservice</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>chego jewelry website</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>energy flow webservice</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>fruitbox online store</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>English excellence webservice</h3>
        <a href="">visit 🡥</a>
      </li>
      <li class="project-card">
        <picture>
          <source srcset="" media="" />
          <source srcset="" media="" />
          <source srcset="" media="" />
        </picture>
        <p>React, JavaScript, Node JS, Git</p>
        <h3>starlight studio landing page</h3>
        <a href="">visit 🡥</a>
      </li>
    </ul>
    <button class="js-load-more load-more-hidden">LOAD MORE</button>
    <button class="js-show-less">SHOW LESS</button>
  </div>
</section>

<script type="module" src="./js/my-projects.js"></script>
