<section class="tech-skills">
  <div class="container">
    <h2 class="visually-hidden">Tech-skills</h2>
    <div class="section-skills">
      <div class="skills-bar top-bar">
        <span class="skills-text-top">HTML/CSS</span>
        <span class="skills-point-top">•</span>
        <span class="skills-text-top">JAVASCRIPT</span>
        <span class="skills-point-top">•</span>
        <span class="skills-text-top">REACT</span>
        <span class="skills-point-top">•</span>
        <span class="skills-text-top">NODE.JS</span>
        <span class="skills-point-top">•</span>
        <span class="skills-text-top">REACT NATIVE</span>
        <span class="skills-point-top">•</span>
        <span class="skills-text-top">TYPESCRIPT</span>
      </div>

      <div class="skills-bar bottom-bar">
        <span class="skills-text-bottom">HTML/CSS</span>
        <span class="skills-point-bottom">•</span>
        <span class="skills-text-bottom">JAVASCRIPT</span>
        <span class="skills-point-bottom">•</span>
        <span class="skills-text-bottom">REACT</span>
        <span class="skills-point-bottom">•</span>
        <span class="skills-text-bottom">NODE.JS</span>
        <span class="skills-point-bottom">•</span>
        <span class="skills-text-bottom">REACT NATIVE</span>
        <span class="skills-point-bottom">•</span>
        <span class="skills-text-bottom">TYPESCRIPT</span>
      </div>
    </div>
  </div>
</section>
