<section class="tech-skills">
  <div class="container-fluid">
    <h2 class="visually-hidden">Tech-skills</h2>
    <div class="section-skills">
      <div class="skills-bar top-bar">
        <span class="skills-text">HTML/CSS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">JAVASCRIPT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">NODE.JS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT NATIVE</span>
        <span class="skills-point">•</span>
        <span class="skills-text">TYPESCRIPT</span>
        <span class="skills-text">HTML/CSS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">JAVASCRIPT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">NODE.JS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT NATIVE</span>
        <span class="skills-point">•</span>
        <span class="skills-text">TYPESCRIPT</span>
        <span class="skills-text">HTML/CSS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">JAVASCRIPT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">NODE.JS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT NATIVE</span>
        <span class="skills-point">•</span>
        <span class="skills-text">TYPESCRIPT</span>
      </div>

      <div class="skills-bar bottom-bar">
        <span class="skills-text">HTML/CSS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">JAVASCRIPT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">NODE.JS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT NATIVE</span>
        <span class="skills-point">•</span>
        <span class="skills-text">TYPESCRIPT</span>
        <span class="skills-text">HTML/CSS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">JAVASCRIPT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">NODE.JS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT NATIVE</span>
        <span class="skills-point">•</span>
        <span class="skills-text">TYPESCRIPT</span>
        <span class="skills-text">HTML/CSS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">JAVASCRIPT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT</span>
        <span class="skills-point">•</span>
        <span class="skills-text">NODE.JS</span>
        <span class="skills-point">•</span>
        <span class="skills-text">REACT NATIVE</span>
        <span class="skills-point">•</span>
        <span class="skills-text">TYPESCRIPT</span>
      </div>
    </div>
  </div>
</section>
