.benefits {
  padding-top: 80px;
}

.bg-img-benef {
  display: none;
}

.benef-middle {
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin-bottom: 32px;
}

.benef-middle li {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.title-benef {
  font-weight: 400;
  font-size: 52px;
  line-height: 123%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #292929;
  font-family: 'Impact', sans-serif;
  margin-bottom: 40px;
}
.text-green {
  color: #00b068;
}
.benef-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.benef-item {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.benef-subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  font-family: 'Poppins', sans-serif;
}
.benef-text {
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  font-family: 'Poppins', sans-serif;
}

.svg {
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #bcdfd1;
  border-radius: 8px;
}

@media only screen and (min-width: 768px) {
  .title-benef {
    max-width: 704px;
    font-weight: 400;
    font-size: 108px;
    line-height: 115%;
    letter-spacing: 0.02em;
    margin-bottom: 0;
  }

  .benef-item {
    max-width: 336px;
  }

  .benef-item:nth-child(1) {
    align-self: flex-end;
  }
  .benef-item:nth-last-child(1) {
    align-self: flex-end;
    margin-top: 32px;
  }

  .benef-middle {
    flex-direction: row;
  }

  .benef-middle li {
    max-width: 336px;
  }
}

@media only screen and (min-width: 1280px) {
  .benef-subtitle {
    font-size: 20px;
    line-height: 160%;
  }

  .benef-list {
    padding-top: 274px;
  }

  .benef-item {
    max-width: 384px;
  }

  .benef-middle {
    /* display: flex;
    gap: 32px; */
    margin-bottom: 0;
  }
  .test {
    display: flex;
    gap: 32px;
  }
  .benef-item:nth-last-child(1) {
    margin-top: 0;
  }

  .test li {
    max-width: 384px;
  }

  .benefits {
    padding-top: 164px;
  }

  .container-benef {
    position: relative;
    padding: 0 32px;
  }

  .title-benef {
    position: absolute;
    top: 0;
    left: 32px;
  }

  .bg-img-benef {
    display: block;
    width: 526px;
    position: absolute;
    top: -116px;
    right: 32px;
    height: 408px;
  }
}
