:root {
  --light-black: #000000;
  --light-accent-green: #00ff00;
  --light-light-grey: #d3d3d3;
  --second-family: Arial, sans-serif;
  --font-family: 'Helvetica', sans-serif;
}

.footer {
  max-width: 100%;
  height: auto;
}
.container {
  /* min-width: 320px;
  margin: 0 auto;
  padding: 0 auto; */
  /* background-color: #e4e5e6;
  border-top: 1px solid var(--light-light-grey); */
}
.footer-logo {
  padding: 40px 0 24px;
}

.logo-span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--light-black);
}

.logo-green-span {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 32px;
  line-height: 100%;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: var(--light-accent-green); /* Fixed variable name */
}

.footer-social-links {
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.03em;
  color: var(--light-black);
  display: flex;
  flex-direction: column;
  gap: 32px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-social-links a {
  text-decoration: none;
  color: var(--light-black);
  transition: color 0.3s ease;
}

.footer-social-links a:hover {
  color: var(--light-accent-green);
}

.footer-copyright {
  padding: 24px 0;
  font-family: var(--font-family);
  font-weight: 300;
  font-size: 14px;
  color: var(--light-black);
  text-align: center;
  display: flex;
  flex-direction: column;
}

/* Styles for Tablet devices */
@media only screen and (min-width: 768px) {
  .footer {
    padding: 60px 40px 32px;
  }
  /* .container {
    max-width: 640px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  } */
  .footer-social-links {
    flex-direction: row;
    gap: 32px;
  }
  .footer-copyright {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    text-align: right;
    margin-right: 70px;
  }
}

/* Styles for Desktop devices */
@media only screen and (min-width: 1280px) {
  /* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  } */

  .footer-logo {
  }

  .footer-social-links {
    display: flex;
    flex-direction: row;
    gap: 24px;
    justify-content: flex-end;
    padding: 0;
    margin: 0;
  }
  .top-position {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .footer-copyright {
    margin-left: 420px;
  }
}
