.section-skills {
  padding-top: 164px;
}

.hidden-title {
  visibility: hidden;
  display: none;
}

.marquee {
  overflow: hidden;
  position: relative;
  font-family: 'Pridi', sans-serif;
  font-weight: 600;
  font-size: 34px;
  text-transform: uppercase;
  white-space: nowrap;
  background-color: #bcdfd1;
  height: 128px;
  display: flex;
  align-items: center;
}

.marquee__inner {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 10s linear infinite;
}

.marquee__inner p {
  display: inline;
  margin: 0;
}

.marquee--reverse {
  background-color: #e4e5e6;
  transform: rotate(2deg);
  height: 128px;
}

.marquee--reverse .marquee__inner {
  animation-direction: reverse;
  transform: rotate(-2deg);
}

@keyframes marquee {
  from {
    transform: translateX(0%);
  }
  to {
    transform: translateX(-100%);
  }
}
